@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.screen {
  width: 350px;
  height: 700px;
  background-color: var(--toss-bg-color);
  border-radius: 40px;
  padding: 0px 25px;
  position: relative;
}
